@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

/* General CSS styles that could apply across all of our pages */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.content-container {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

hr {
  margin-top: 7%;
  margin-bottom: 7%;
}

/**
 * Styles for landing page
 */
.landing-header {
  text-align: center;
  margin-top: 10%;
}

.landing-header h1 {
  font-size: 46px;
}

.button-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.green-button-lg {
  border: 2px solid grey;
  background-color: transparent;
  padding: 11px 32px;
  border-radius: 30px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.green-button-lg:hover {
  color: white;
  background-color: #0F9D58;
  border: 2px solid white;
}

#help-btn-left {
  margin-right: 20px;
}

#help-btn-right {
  margin-left: 20px;
}

.about-wrapper {
  width: 85%;
  margin: auto;
}

.about-wrapper h2{
  font-size: 30px;
}

/* Styles for NEW LISTING page.
 * These styles can also be used for any other forms
 * on our site if desired. */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 68px;
    background-color: #232F34;
}

.logo{
    color: rgb(226, 226, 226);
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 0px;
    padding: 0px;
}

.nav-links li{
    list-style: none;
    float: right;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.form-container h2 {
  text-align: center;
}

#subject-line {
  width: 35%;
  border: 2px solid black;
  border-radius: 4px;
  height: 25px;
  padding-left: 1.5%;
}

.form-container textarea {
  width: 75%;
  height: 300px;
  padding: 1%;
  resize: none;
  border: 2px solid black;
  border-radius: 4px;
}

.form-container button {
  margin-top: 5%;
}

.spaced-button-row {
  display: flex;
  justify-content: flex-end;
}

/* Styling for LISTINGS page that displays all listings */
.listing {
  margin-bottom: 30px;
}

.listing p {
  margin: 4px;
}

.listing div {
  padding: 0.7% 1%;
}

.listing-header {
  border: 2px solid black;
  border-bottom: none; /* supplied by body's border */
  border-radius: 10px 10px 0px 0px;
  background-color: #0F9D58;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 600;
}

.listing-body {
  border: 2px solid black;
  border-bottom: none;
}

.timestamp {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.listing-footer {
  padding-top: 3% !important; /* important only used because ".listing div" styles which are general overwrite this */
  border: 2px solid black;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
}

.listing-button {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 4px 10px;
}

.listing-button:hover {
  color: white;
  background-color: #0F9D58;
}

.delete-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px 10px;
  background-color: #DB4437;
  color: white;
}

.delete-button:hover {
  background-color: #c93f32;
}