@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

/* General CSS styles that could apply across all of our pages */
body {
  font-family: 'Open Sans', sans-serif;
}

.content-container {
  width: 80%;
  margin: auto;
}

/* Styles for NEW LISTING page.
 * These styles can also be used for any other forms
 * on our site if desired. */

.form-container h2 {
  text-align: center;
}

.form-container input {
  width: 35%;
  border: 2px solid black;
  border-radius: 4px;
  height: 25px;
  padding-left: 1.5%;
}

.form-container textarea {
  width: 75%;
  height: 300px;
  padding: 1%;
  resize: none;
  border: 2px solid black;
  border-radius: 4px;
}

.form-container button {
  margin-top: 5%;
  float: right;
}

/* Styling for LISTINGS page that displays all listings */
.listing {
  margin-bottom: 30px;
}

.listing p {
  margin: 4px;
}

.listing div {
  padding: 0.7% 1%;
}

.listing-header {
  border: 2px solid black;
  border-bottom: none; /* supplied by body's border */
  border-radius: 10px 10px 0px 0px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
}

.listing-body {
  border: 2px solid black;
  border-bottom: none;
}

.timestamp {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.listing-footer {
  padding-top: 3% !important; /* important only used because ".listing div" styles which are general overwrite this */
  border: 2px solid black;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
}